:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

mat-card {
  width: 50%;
  max-width: 500px;
  background-color: #1b1b1b;
  color: white;
}

mat-card-content {
  padding-top: 5px;
}

mat-card-header {
  justify-content: center;
  color: #f4e116;
}
